# TASK 2 
### NAME: YEO ZHENG XU ISAAC

In [1]:
from pyspark.mllib.regression import LabeledPoint
import numpy as np
from pyspark.sql import Row
from pyspark.sql import functions as sql_functions
from pyspark.sql.types import *
import matplotlib.pyplot as plt
import matplotlib.cm as cm

#### Read & Load in DataFile

In [2]:
musicsongsdata = sqlContext.read.load('/FileStore/tables/YearPredictionMSD.txt', 'text')
numbr_points = musicsongsdata.count()

In [3]:
att_descr = "90 attributes, 12 = timbre average, 78 = timbre covariance. \nThe first value is the year (target), ranging from 1922 to 2011. \nFeatures extracted from the 'timbre' features from The Echo Nest API. \nWe take the average and covariance over all 'segments', each segment being described by a 12-dimensional timbre vector."

df = musicsongsdata.rdd.map(lambda row: str(row['value']).split(",")).map(lambda row: LabeledPoint(row[0], [float(x) for x in row[1:]])).toDF(["Features", "Year"])

In [4]:
print (att_descr)
print ('\nNumber of data points: ', numbr_points, "\n")

In [5]:
musicsongsdata.take(1)

### prepare data before testing

In [6]:
year_data = df.select("Year").groupBy("Year").count()
year_data.show()

### Add data into dataframe

In [7]:
year_data = year_data.toPandas()
year_data

,Year,count
0,1988.0,5611
1,1976.0,2179
2,1951.0,74
3,1940.0,52
4,1928.0,52
5,1979.0,3108
6,1953.0,133
7,1987.0,5122
8,1959.0,592
9,1934.0,29
10,1978.0,2926
11,1968.0,1867
12,2010.0,9396
13,1936.0,25
14,1967.0,1718
15,1964.0,945
16,1993.0,10525
17,2001.0,21590
18,1965.0,1120
19,1954.0,123
20,1984.0,3368
21,1973.0,2596
22,1980.0,3101
23,1966.0,1377
24,1997.0,15182
25,1992.0,9543
26,1990.0,7256
27,1995.0,13257
28,2009.0,31038
29,1938.0,19
...,...,...
59,2008.0,34760
60,1952.0,77
61,1999.0,18238
62,1981.0,3162
63,1975.0,2482
64,2011.0,1
65,1931.0,35
66,1989.0,6670
67,2002.0,23451
68,1926.0,19
69,1958.0,583
70,1962.0,605
71,1942.0,24
72,2006.0,37534
73,1961.0,571
74,2004.0,29607
75,1941.0,32
76,1955.0,275
77,1947.0,57
78,1972.0,2288
79,1991.0,8647
80,1935.0,24
81,1983.0,3386
82,1977.0,2502
83,1974.0,2184
84,1924.0,5
85,1946.0,29
86,2005.0,34952
87,2003.0,27382
88,1971.0,2131

# average year

In [9]:
avg_year = year_data["Year"]
average_year = sum(avg_year)/len(avg_year)

print("Average year: ", average_year)

## prepare data for training and testing

In [10]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator(predictionCol = 'prediction')

weights = [.8, .1, .1]
seed = 42
parsed_train_data_df, parsed_val_data_df, parsed_test_data_df = df.randomSplit(weights, seed= seed)

parsed_train_data_df.cache()
parsed_val_data_df.cache()
parsed_test_data_df.cache()
n_train = parsed_train_data_df.count()
n_val = parsed_val_data_df.count()
n_test = parsed_test_data_df.count()

print ('Training dataset size: {0}'.format(n_train))
print ('Validation dataset size: {0}'.format(n_val))
print ('Testing dataset size: {0}'.format(n_test))

##  Baseline Regression Model

In [11]:
preds_and_labels_test = parsed_test_data_df.rdd.map(lambda row: (float(1967), float(row['Year'])))
preds_and_labels_test_df = sqlContext.createDataFrame(preds_and_labels_test, ["prediction", "label"])
rmse_test_base = evaluator.evaluate(preds_and_labels_test_df)

print ('Baseline Model RMSE = {0:.3f}'.format(rmse_test_base))

## Linear regression model

In [12]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.sql.functions import udf

In [13]:
# Linear regression model parameter values
num_iters = 500  # iterations
reg = 1e-1  # regParam
alpha = .2  
use_intercept = True  # intercept

parsed_train_data_df = parsed_train_data_df.rdd.map(lambda row: (Vectors.dense(row["Features"]), float(row['Year'])))
parsed_train_data_df = sqlContext.createDataFrame(parsed_train_data_df,["features","label"])
parsed_train_data_df
lin_reg = LinearRegression(maxIter = num_iters, regParam = reg, elasticNetParam = alpha, fitIntercept = use_intercept, labelCol = 'label', featuresCol = 'features')

first_model = lin_reg.fit(parsed_train_data_df)

In [14]:
coeffs_LR1 = first_model.coefficients
intercept_LR1 = first_model.intercept
print (coeffs_LR1, intercept_LR1)

In [15]:
parsed_val_data_df = parsed_val_data_df.rdd.map(lambda row: (Vectors.dense(row["Features"]), float(row['Year'])))
parsed_val_data_df = sqlContext.createDataFrame(parsed_val_data_df,["features","label"])

val_pred_df = first_model.transform(parsed_val_data_df)
rmse_val_LR1 = evaluator.evaluate(val_pred_df)

print ('Validation RMSE:LR1 = ',  rmse_val_LR1)

### RMSE derived from implementing Linear regression is around 9.xx
### Results were greatly improved by implementing Linear regression from the Baseline Regression model which was around 33.216